<h2>Kết quả đăng ký</h2>

<p>Cảm ơn bạn <strong>@ViewBag.MSSV - @ViewBag.HoTen</strong> đã đăng ký chuyên ngành <strong>@ViewBag.ChuyenNganh</strong></p>
<p>Số lượng SV đã đăng ký ngành giống bạn là: <strong>@ViewBag.SoLuong</strong></p>
